<%= link_to "#{user.following.count} #{t(:_following)}", following_user_path(user) %>

<br />

<% user.following.last(8).each do |u| %>
  <%= link_to gravatar_for(u, size: 38), u, title: u.username %>
<% end %>
<div class="clear"></div>
