<%= link_to pluralize(user.followers.count, t(:_follower)), followers_user_path(user) %>

<br />

<% user.followers.last(8).each do |u| %>
  <%= link_to gravatar_for(u, size: 38), u, title: u.username %>
<% end %>
<div class="clear"></div>
