<% provide(:title, t(:sign_up)) %>
<div class="row">
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="span6 offset3">
        <%= render "users/fields", f: f %>
        <%= f.submit t(:sign_up), class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
</div>
