<% if signed_in? %>
  <%= render "tags/tag_groups", user: current_user %>
<% else %>
  <div id="my_tags" class="tag_group_list">
    <%= render partial: "tags/tag", collection: Tag.all, locals: { show_count: true } %>
  </div>
<% end %>
