@import "bootstrap";

$grayMedium: #eaeaea; //#dfdfef;

@mixin boxSizing
{
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
}
@mixin boxShadow
{
  $shadowSize: 1px;
  $shadowColor: #111;
  -moz-box-shadow: 0 0 $shadowSize $shadowSize $shadowColor;
  -webkit-box-shadow: 0 0 $shadowSize $shadowSize $shadowColor;
  box-shadow: 0 0 $shadowSize $shadowSize $shadowColor;
}

html
{
  overflow-y: scroll;
}

body
{
  padding-top: 60px;
}

section
{
  overflow: auto;
}

textarea
{
  resize: vertical;
}

.clear
{
  clear: both;
}

.center
{
  text-align: center;
  h1
  {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6
{
  line-height: 1;
}

h1
{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2
{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p
{
  font-size: 1.1em;
  line-height: 1.7em;
}

a
{
  color: #09c;
  &:hover
  {
    color: #069;
    text-decoration: none;
  }
}

#logo
{
  float: left;
  margin-top: 7px;
  img
  {
    height: 25px;
  }
  .logo_text
  {
    color: white;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -1px;
    vertical-align: middle;
    &:hover
    {
      color: white;
      text-decoration: none;
    }
  }
}

#fat-menu .gravatar
{
  @include boxShadow;
}

.gravatar
{
  float: left;
  margin-right: 5px;
}

input, textarea, select, .uneditable-input
{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  height: auto;
  @include boxSizing;
  &.span6
  {
    width: 468px;
  }
}

#error_explanation
{
  color: #f00;
  ul
  {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors
{
  @extend .control-group;
  @extend .error;
}

.alert
{
  padding: 8px;
}

.debug_dump
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: $grayMedium;
  @include boxSizing;
}

$separatorSize: 2px;
.user
{
  margin-bottom: 10px;
  & > .user_inner
  {
    border-top: $separatorSize solid $grayLighter;
    .gravatar
    {
      margin-top: -$separatorSize;
    }
  }
}

.post
{
  margin-bottom: 10px;
  & > .post_inner
  {
    border-top: $separatorSize solid $grayLighter;
    .timestamp
    {
      color: $grayLight;
    }
    .title
    {
      font-weight: bold;
    }
    .add_tags
    {
      .tag_list 
      {
        & > input
        {
          display: none;
          margin: 0;
        }
      }
    }
  }
  
  & > .content
  {
    margin-top: 5px;
    & > .video
    {
      position: relative;
      max-width: 480px;
      
      $play_video_size: 77px;
      .play_video
      {
        background: url(/assets/play-video.png) no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -$play_video_size / 2;
        margin-top: -$play_video_size / 2;
        width: $play_video_size;
        height: $play_video_size;
        opacity: 0.75;
      }
    }
  }
}

.tag
{
  float: left;
  background: $grayMedium;
  padding: 0 4px;
  margin-right: 4px;
  .tag_name
  {
    margin-right: 2px;
  }
  .tag_count
  {
    color: #09c;
    font-size: smaller;
    margin-right: 2px;
  }
}

.foreign_tag
{
  @extend .tag;
  background: lighten($grayMedium, 5%);
}
